<!DOCTYPE html>
<html>
<body>
  <h1> Edit a cat. </h1>
  <!-- <form action="<%= cat_path(@cat.id) %>" method="post">
    <input type="hidden" name="_method" value="patch"> -->
    <%= render "form" %>
  <!-- </form> -->
</body>
</html>
